body, html {background:#444; display:block; padding:50px 0;  color:white;}

label {
  color:black;
  position:relative; 
  background-color:#fff;
  overflow:hidden; 
  display:block; 
  padding:5px;
  max-width:12em; 
  margin-left: 17.5px;
  font-size:1em; /*use this to scale the select*/
}

option .selected{
    color:black;
}


select {
  width:100%;
  font-size: .9em;
  min-height: 1em;
  margin: 0;
  color:#888;
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
}

.select-button {
  background-color:#33B3A2;
  right:0; top:0;
  position:absolute;
  pointer-events:none;
  padding: 0 .3em;
  height: 100%;
}


.small-arrow-down {
  width: 0; 	
  height: 0; 	 
  border-left: .4em solid transparent; 
  border-right: .4em solid transparent; 
  border-top: .4em solid #fff; 
  margin: 50% 0em 0em 0;

}