.border {
  width: 50%;
  height: 55px;
  margin: 100px 25%;
  padding: 7px;
  background: #FDF6E3;
  border-radius: 5px;
  border: 1px solid transparent;
  border-bottom: 0px solid transparent;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
}
.withSlider{
    margin-top:10px;
    margin-bottom:5px;
}
.btn-primary{
    background-color:#33B3A2;
    border-width: 0;
}

.withSlider input{
    
}
table td{
    width:50%;
}

.withSlider span{
    margin-left:17px;
    color:white;
}


span > input{
    background: transparent;
    border-color: #33B3A2;
    padding:4px;
    -webkit-appearance: none; 
    -moz-appearance: none;
    border: 1px solid #33B3A2;
}

.border:hover {
  height: 58px;
  margin-top: 97px;
  border: 1px solid #E6D9C3;
  border-bottom: 3px solid #E6D9C3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
.border:hover .button {
  opacity: 1;
}
.border:hover input {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
}
.border:active {
  border: 1px solid #E6D9C3;
  margin-top: 102px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  height: 53px;
}
input[type="submit"]{
    background-color:#33B3A2;
    margin-left: 17px;
    margin-bottom:10px;
}
.comp-form .withSlider{
    margin-top:0px;
}

input[type='text']{
    color:black;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 20%;
  min-width: 180px;
  height: 100%;
  background: #fff;
  font-size: 1em;
  font-weight: 600;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 5px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  margin-bottom:10px;
  margin-left:17px;
}


input:focus {
  outline: none;
}
input:focus + .button {
  opacity: 1;
}

.button {
  opacity: 0;
  float: right;
  width: 14%;
  height: 100%;
  margin: 0;
  background: #C9BEAB;
  text-align: center;
  font-size: 2em;
  color: #FDF6E3;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
.button:active {
  border-bottom: 0;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
}

