<div class="comp-form">
<div class="form-group">
  <label for="preset_name" class="col-sm-6 control-label">
    Preset Name
  </label>
  <div class="col-sm-6">
    <input type="text" ng-model="comp.preset_name" class="form-control" id="preset_name" placeholder="Name your preset..."/>
  </div>
</div>

<div class="form-group">
  <label for="compMode" class="col-sm-2 control-label">
      Mode
  </label>
  <div class="col-sm-10">
    <label>
        <select ng-model="comp.mode">
            <option value="" disabled selected>Select Mode</option>
            <option value="Creative">Creative</option>
            <option>VCA</option>
            <option>Opto</option>
            <option>Tube</option>
            <option>Limiter</option>
        </select>
        <div class="select-button"><div class="small-arrow-down"></div></div>
      </label>
    </div>
</div>

<div class="form-group">
  <label for="compAttack" class="col-sm-2 control-label">
      Attack (ms)
  </label>
  <div class="col-sm-10">
    <div class="withSlider">
        <span><input ng-model="comp.attack"></input>(ms)</span>
        <input type='range' min='0' max='250' step='1' value='0' ng-model="comp.attack" id="comp_attack_slider"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="compRelease" class="col-sm-2 control-label">
      Release
  </label>
  <div class="col-sm-10">
    <div class="withSlider">
        <span><input ng-model="comp.release"></input>(ms)</span>
        <input type='range' min='0' max='250' step='1' value='0' ng-model="comp.release" id="comp_release_slider"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="compThreshold" class="col-sm-2 control-label">
      Threshold
  </label>
  <div class="col-sm-10">
    <div class="withSlider">
        <span><input ng-model="comp.threshold">(db)</input></span>
        <input type='range' min='-50' max='0' step='-1' value='0' ng-model="comp.threshold" id="comp_threshold_slider"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="compRatio" class="col-sm-2 control-label">
      Ratio
  </label>
  <div class="col-sm-10">
    <div class="withSlider">
        <span><input ng-model="comp.ratio"></input></span>
    </div>
    </div>
</div>

<div class="form-group">
  <label for="compPresence" class="col-sm-2 control-label">
      Presence
  </label>
  <div class="col-sm-10">
    <div class="withSlider">
        <span><input ng-model="comp.presence">(db)</input></span>
        <input type='range' min='0' max='20' step='1' value='0' ng-model="comp.presence" id="comp_presence_slider"/>
    </div>
   </div>
</div>

<div class="form-group">
  <label for="compMakeup" class="col-sm-2 control-label">
      Makeup
  </label>
  <div class="col-sm-10">
    <div class="withSlider">
        <span><input ng-model="comp.makeup">(db)</input></span>
        <input type='range' min='0' max='20' step='1' value='0' ng-model="comp.makeup" id="comp_makeup_slider"/>
    </div>
    </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Save"/>
  </div>
</div>
</div>