<div class="container">
<table class="table comptable">
  <tr>
    <td><h3>Details for {{comp.preset_name}}</h3></td>
    <td></td>
  </tr>
  <tr>
    <td>Mode</td>
    <td>{{comp.mode}}</td>
  </tr>
  <tr>
    <td>Attack</td>
    <td>{{comp.attack}} ms</td>
  </tr>
  <tr>
    <td>Release</td>
    <td>{{comp.release}} ms</td>
  </tr>
  <tr>
    <td>Threshold</td>
    <td>{{comp.threshold}} db</td>
  </tr>
  <tr>
    <td>Ratio</td>
    <td>{{comp.ratio}}</td>
  </tr>
  <tr>
    <td>Presence</td>
    <td><span ng-if="comp.presence > 0">+</span>{{comp.presence}} db</td>
  </tr>
  <tr>
    <td>Makeup</td>
<!-- makeup will always be positive -->
    <td> +{{comp.makeup}} db</td>
  </tr>

</table>
<div>
  <a class="btn btn-primary" ui-sref="editComp({id:comp._id})">Edit</a>
</div>
</div>