<div class="form-group">
  <label for="preset_name" class="col-sm-6 control-label">
    Preset Name
  </label>
  <div class="col-sm-6">
    <input type="text" class="small-input" ng-model="eq.preset_name" class="form-control" id="preset_name" placeholder="Name your preset..."/>
  </div>
</div>

<div class="form-group">
  <label for="Low" class="col-sm-6 control-label">
      Low Band
  </label>
  <div class="col-sm-6">
<!--    <input type="text" ng-model="eq.low_band_switch" class="form-control" id="low_switch" placeholder="On/Off"/>-->
<!--      <input type="text" ng-model="eq.low_peak_or_shelf" class="form-control" id="low_peakshelf" placeholder="Peak/Shelf"/>-->
      <label>
        <select ng-model="eq.low_band_switch">
            <option value="" disabled selected>On/Off</option>
            <option selected>On</option>
            <option>Off</option>
        </select>
        <div class="select-button"><div class="small-arrow-down"></div></div>
      </label>
      
      <label>
        <select ng-model="eq.low_peak_or_shelf">
            <option value="" disabled selected>Peak/Shelf</option>
            <option selected>Peak</option>
            <option>Shelf</option>
        </select>
        <div class="select-button"><div class="small-arrow-down"></div></div>
      </label>
<!--      <input type="text" ng-model="eq.low_freq" class="form-control"  placeholder="Frequency"/>--> 
      <div class="withSlider">
        <span>Frequency: <input ng-model="eq.low_freq"></input></span>
        <input type='range' min='32' max='120' step='1' value='32' ng-model="eq.low_freq" id="low_freq_slider"/>
      </div>
<!--      <input type="text" ng-model="eq.low_gain" class="form-control" id="low_gain" placeholder="Gain"/>-->
      <div class="withSlider">
        <span>Gain: <input ng-model="eq.low_gain"></input></span>
        <input type='range' min='-30' max='30' step='1' value='0' ng-model="eq.low_gain" id="low_gain_slider"/>
      </div>
    </div>
</div>


<div class="form-group">
  <label for="LowMid" class="col-sm-6 control-label">
      Low Mid Band
  </label>
  <div class="col-sm-6">
      <label>
        <select ng-model="eq.lowmid_band_switch">
            <option value="" disabled selected>On/Off</option>
            <option>On</option>
            <option>Off</option>
        </select>
        <div class="select-button"><div class="small-arrow-down"></div></div>
      </label>
      <label>
        <select ng-model="eq.lowmid_high_or_low_q">
            <option value="" disabled selected>Q</option>
            <option >Hi</option>
            <option>Lo</option>
        </select>
        <div class="select-button"><div class="small-arrow-down"></div></div>
      </label>
      <div class="withSlider">
        <span>Frequency: <input ng-model="eq.lowmid_freq"></input></span>
        <input type='range' min='120' max='999' step='1' value='120' ng-model="eq.lowmid_freq" id="lowmid_freq_slider"/>
      </div>
      <div class="withSlider">
        <span>Gain: <input ng-model="eq.lowmid_gain"></input></span>
        <input type='range' min='-30' max='30' step='1' value='0' ng-model="eq.lowmid_gain" id="lowmid_gain_slider"/>
      </div>
    </div>
</div>


<div class="form-group">
  <label for="HiMid" class="col-sm-6 control-label">
      Hi Mid Band
  </label>
  <div class="col-sm-6">
    <label>
        <select ng-model="eq.himid_band_switch">
            <option value="" disabled selected>On/Off</option>
            <option>On</option>
            <option>Off</option>
        </select>
        <div class="select-button"><div class="small-arrow-down"></div></div>
      </label>
      <div class="withSlider">
        <span>Frequency: <input ng-model="eq.himid_freq"></input></span>
        <input type='range' min='1000' max='6000' step='1' value='120' ng-model="eq.himid_freq" id="himid_freq_slider"/>
      </div>
      <div class="withSlider">
        <span>Gain: <input ng-model="eq.himid_gain"></input></span>
        <input type='range' min='-30' max='30' step='1' value='0' ng-model="eq.himid_gain" id="himid_gain_slider"/>
      </div>
    </div>
</div>


<div class="form-group">
  <label for="High" class="col-sm-6 control-label">
      High Band
  </label>
  <div class="col-sm-6">
      <label>
        <select ng-model="eq.hi_band_switch">
            <option value="" disabled selected>On/Off</option>
            <option>On</option>
            <option>Off</option>
        </select>
        <div class="select-button"><div class="small-arrow-down"></div></div>
      </label>
      <label>
        <select ng-model="eq.hi_peak_or_shelf">
            <option value="" disabled selected>Peak/Shelf</option>
            <option >Peak</option>
            <option>Shelf</option>
        </select>
        <div class="select-button"><div class="small-arrow-down"></div></div>
      </label>
      <div class="withSlider">
        <span>Frequency: <input ng-model="eq.hi_freq"></input></span>
        <input type='range' min='5000' max='20000' step='1' value='5000' ng-model="eq.hi_freq" id="hi_freq_slider"/>
      </div>
      <div class="withSlider">
        <span>Gain: <input ng-model="eq.hi_gain"></input></span>
        <input type='range' min='-30' max='30' step='1' value='0' ng-model="eq.hi_gain" id="hi_gain_slider"/>
      </div>
    </div>
</div>

<div class="form-group">
  <label style="background-color: transparent" for="save" class="col-sm-6 control-label">

  </label>
  <div class="col-sm-6">
    <input type="submit" class="btn btn-primary" value="Save"/>
  </div>
</div>