<div class="container">
<table class="table eqtable">
  <tr>
    <td><h3>Details for {{eq.preset_name}}</h3></td>
    <td></td>
  </tr>
  <tr>
    <td>Low Band</td>
    <td>{{eq.low_band_switch}}</td>
  </tr>
  <tr>
    <td>Low Peak/Shelf</td>
    <td>{{eq.low_peak_or_shelf}}</td>
  </tr>
  <tr>
    <td>Low Frequency</td>
    <td>{{eq.low_freq}} hz</td>
  </tr>
  <tr>
    <td>Low Gain</td>
    <td><span ng-if="eq.low_gain > 0">+</span>{{eq.low_gain}} db</td>
  </tr>
    <tr>
    <td></td> <td></td>
    </tr>
  <tr>
    <td>Low Mid Band</td>
    <td>{{eq.lowmid_band_switch}}</td>
  </tr>
  <tr>
    <td>Low Mid Q</td>
    <td>{{eq.lowmid_high_or_low_q}}</td>
  </tr>
  <tr>
    <td>Low Mid Frequency</td>
    <td>{{eq.lowmid_freq}} hz</td>
  </tr>
  <tr>
    <td>Low Mid Gain</td>
    <td><span ng-if="eq.lowmid_gain > 0">+</span>{{eq.lowmid_gain}} db</td>
  </tr>
  
  <tr>
    <td></td> <td></td>
  </tr>

  <tr>
    <td>High Mid Band</td>
    <td>{{eq.himid_band_switch}}</td>
  </tr>
  <tr>
    <td>High Mid Frequency</td>
    <td>{{eq.himid_freq}} khz</td>
  </tr>
  <tr>
    <td>High Mid Gain</td>
    <td><span ng-if="eq.himid_gain > 0">+</span>{{eq.himid_gain}} db</td>
  </tr>

  <tr>
    <td></td> <td></td>
  </tr>

  <tr>
    <td>High Band</td>
    <td>{{eq.hi_band_switch}}</td>
  </tr>
  <tr>
    <td>High Peak/Shelf</td>
    <td>{{eq.hi_peak_or_shelf}}</td>
  </tr>
  <tr>
    <td>High Frequency</td>
    <td>{{eq.hi_freq}} khz</td>
  </tr>
  <tr>
    <td>High Gain</td>
    <td><span ng-if="eq.hi_gain > 0">+</span>{{eq.hi_gain}} db</td>
  </tr>
  
</table>
<div>
  <a class="btn btn-primary" ui-sref="editEQ({id:eq._id})">Edit</a>
</div>
</div>