<div class="container">
    <table class="table">
      
        <th><h3>EQS</h3></th>
        <th></th>
      <tr ng-repeat="eq in eqs">
        <td>{{eq.preset_name}}</td>
        <td>
          <a class="btn btn-primary" ui-sref="viewEQ({id:eq._id})">View</a>
          <a class="btn btn-danger"  ng-click="deleteEQ(eq)">Delete</a>
        </td>
      </tr>
    </table>
    <a ui-sref="newEQ" style="margin-bottom: 30px;" class="btn btn-primary">Add New EQ</a>

    <table class="table">
      
        <th><h3>Compressors</h3></th>
        <th></th>
      <tr ng-repeat="comp in comps">
        <td>{{comp.preset_name}}</td>
        <td>
          <a class="btn btn-primary" ui-sref="viewComp({id:comp._id})">View</a>
          <a class="btn btn-danger"  ng-click="deleteComp(comp)">Delete</a>
        </td>
      </tr>
    </table>
    <a ui-sref="newComp" class="btn-primary btn">Add New Compressor</a>
</div>